/* Layout */
.app-container {
  display: flex;
  flex: 1;
}

/* Main content styles */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.content-wrapper {
  padding: 37px 40px;
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
