@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background: var(--main-bg-color);
  color: var(--white);
  font-size: var(--font-16);
  line-height: 1.5;
}

:root {
  /* Colors */
  --main-bg-color: #254446;
  --black: #061617;
  --primary-color: #38c3cc;
  --secondary-color: #ffaf1a;
  --white: #f4feff;

  /* Font */
  --font-family: "Poppins", sans-serif;
  --font-10: 10px;
  --font-13: 13px;
  --font-16: 16px;
  --font-20: 20px;
  --font-25: 25px;
  --font-31: 31px;
  --font-39: 39px;
  --font-49: 49px;
  --font-61: 61px;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* Start Hero Section */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;
}

.hero-left {
  flex: 1;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-left h1 {
  font-size: var(--font-61);
  line-height: 100%;
}

.hero-left p {
  font-size: var(--font-16);
  color: var(--white);
  line-height: 136%;
}

.hero-left ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero-left li {
  font-size: var(--font-20);
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero-right {
  background: white;
  border-radius: 20px;
  padding: 2rem;
  color: black;
  max-width: 450px;
  width: 100%;
}

.hero-right input,
.hero-right select {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.4rem;
  font-weight: 600;
  font-size: 0.95rem;
}

.hero-right button {
  width: 100%;
  border: none;
  padding: 0.8rem;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }

  .hero-left,
  .hero-right {
    max-width: 100%;
  }

  .hero-right .form-row {
    flex-direction: column;
  }
}

/* End Section */
/* Start logo slider */
.logo_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 2rem;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 32px;
  overflow: hidden;
  mask-image: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0));
}

.wrapper .logo_slider_item {
  transition: all 0.5s ease-in-out;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 6), 100%);
  animation-name: scrollLeft;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wrapper .logo_slider_item:nth-child(1) {
  animation-delay: calc(35s / 6 * (6 - 1) * -1);
}

.wrapper .logo_slider_item:nth-child(2) {
  animation-delay: calc(35s / 6 * (6 - 2) * -1);
}

.wrapper .logo_slider_item:nth-child(3) {
  animation-delay: calc(35s / 6 * (6 - 3) * -1);
}

.wrapper .logo_slider_item:nth-child(4) {
  animation-delay: calc(35s / 6 * (6 - 4) * -1);
}

.wrapper .logo_slider_item:nth-child(5) {
  animation-delay: calc(35s / 6 * (6 - 5) * -1);
}

.wrapper .logo_slider_item:nth-child(6) {
  animation-delay: calc(35s / 6 * (6 - 6) * -1);
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

/* End logo slider */

/* Start Impact */
.impact {
  text-align: center;
  padding: 4rem 0px;
}

.impact p {
  color: var(--white);
  padding: 16px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 24px;
  padding: 24px;
}

.cards .left-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cards .left-cards .card {
  width: 100%;
  height: 98%;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.cards .left-cards .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.cards .right-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.cards .right-cards .card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  height: 350px;
}

.cards .right-cards .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.cards .card-text {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: var(--white);
  text-align: left;
}

.cards .left-cards .card .card-text p {
  color: var(--white);
  font-size: var(--font-39);
  margin: 0;
}

.cards .left-cards .card .card-text h3 {
  color: var(--white);
  font-size: var(--font-61);
  font-weight: var(--font-weight-bold);
}

.cards .right-cards .card .card-text p {
  color: var(--white);
  font-size: var(--font-25);
  margin: 0;
}

.cards .right-cards .card .card-text h3 {
  color: var(--white);
  font-size: var(--font-39);
  font-weight: var(--font-weight-bold);
}

@media (max-width: 1024px) {
  .cards {
    flex-direction: column;
    gap: 16px;
  }

  .cards .left-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .cards .right-cards {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 100%;
  }

  .cards .right-cards .card {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .cards .right-cards {
    grid-template-columns: repeat(1, 2fr);
  }
}

/* End Impact */

/* Start languages */
.languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 2rem;
  overflow: hidden;
}

.languages p {
  padding: 0px 16px;
  text-align: center;
  color: var(--white);
  font-size: var(--font-20);
}

.languages .language-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
}

.languages .language-cards .language-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  color: var(--white);
  text-align: center;
  margin: 24px;
  font-size: var(--font-25);
  font-weight: var(--font-weight-medium);
}

/* End languages */

/* Start FAQ */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.description {
  color: #d1d5db;
  text-align: center;
  margin-bottom: 3rem;
}

.faq-item {
  border-radius: 8px;
  border: 2px solid rgba(250, 255, 255, 0.5);
  padding: 16px 24px;
  margin-bottom: 24px;
  transition: all 0.3 ease-in-out;
}

.faq-item:last-child {
  margin-bottom: 0;
}

.question-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.question-text {
  font-size: 1.125rem;
  font-weight: 600;
  color: #ffffff;
}

.icon {
  font-size: 1.5rem;
  color: #ffffff;
}

.answer {
  margin-top: 24px;
  color: #d1d5db;
  max-height: 0;
  overflow: hidden;
  /* opacity: 0; */
  transition: all 0.3 ease-in-out;

  display: none;
}

.answer.show {
  transition: all 0.3 ease-in-out;
  max-height: 500px;
  /* opacity: 1; */
  display: block;
}

/* Responsive adjustments (simplified) */
@media (max-width: 768px) {

  /* md breakpoint, converted to pixels */
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .heading {
    font-size: var(--font-39);
  }
}

/* End FAQ */
/* Start Testimonials */

.section-testimonials {
  margin-top: 60px;
}

.section-testimonials .description {
  color: #d1d5db;
  text-align: center;
  margin-bottom: 3rem;
}

.section-testimonials .card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.section-testimonials .card {
  position: relative;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  padding: 2rem;
  border: 2px solid rgba(250, 255, 255, 0.5);
}

.section-testimonials .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg,
      rgba(0, 177, 188, 0.1) 0%,
      transparent 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.section-testimonials .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 253, 255, 0.1);
  border-color: var(--primary-color);
}

.section-testimonials .card:hover::before {
  opacity: 1;
}

.section-testimonials .card-content {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

.section-testimonials .user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-testimonials .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4b5563;
  margin-right: 1rem;
}

.section-testimonials .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.section-testimonials .user-name {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}

.section-testimonials .user-title {
  font-size: 0.875rem;
  color: #d1d5db;
}

@media (max-width: 768px) {
  .section-testimonials .description {
    font-size: 0.875rem;
  }

  .section-testimonials .card-grid {
    grid-template-columns: 1fr;
  }
}

/* End Testimonials */

/* Start Contact us */
.contact-us {
  margin: 60px 0px;
}

.contact-us .container {
  width: 536px;
}

.contact-us .form-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.contact-us .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-us .form-group input {
  display: flex;
  height: 56px;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
}

.contact-us .form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  color: var(--main-bg-color);
  font-size: 1rem;
  height: 200px;
}

.contact-us .form-group label {
  margin-bottom: 0.4rem;
  font-weight: 600;
  font-size: 0.95rem;
}

.contact-us .btn-primary {
  width: 100%;
}

@media (max-width: 768px) {
  .contact-us .form-row {
    flex-direction: column;
  }

  .contact-us .container {
    width: 100%;
  }
}

/* End Contact us */