header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 9999;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}

.logo-img {
  width: 60px;
  border-radius: 512px;
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: rotate(15deg);
}

.logo-text {
  font-size: 24px;
  font-weight: 800;
  line-height: 18px;
}

.nav-links {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.nav-link {
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  line-height: 18px;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -7px;
  left: 0;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 25px;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
  padding: 8px 0;
  transition: all 0.3s ease;
  text-decoration: none;
  position: relative;
}

.nav-item:hover {
  color: #fff;
  transform: translateX(5px);
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}
.user-profile {
  display: flex;
  align-items: start;
  gap: 16px;
}

.user-avatar {
  width: 60px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.user-avatar:hover {
  transform: scale(1.05);
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-greeting {
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.edit-profile-link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--primary-color);
  text-decoration: none;
  margin-top: 4px;
  transition: color 0.3s ease;
}

.edit-profile-link:hover {
  color: #fff;
}
.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  width: 250px;
  background: #061617;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  transition: right 0.3s ease-in-out;
  z-index: 99999999999;
}

.sidebar a {
  margin: 1rem 0;
  color: white;
  text-decoration: none;
}

.sidebar .close-btn {
  align-self: flex-end;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .sidebar.open {
    right: 0;
  }

  .sidebar.open .close-btn {
    display: block;
  }
}
