header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo-img {
  width: 60px;
  border-radius: 512px;
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: rotate(15deg);
}

.logo-text {
  font-size: 24px;
  font-weight: 800;
  line-height: 18px;
}
.nav-links {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.nav-link {
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  line-height: 18px;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -7px;
  left: 0;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  width: 250px;
  background: #061617;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  transition: right 0.3s ease-in-out;
  z-index: 99999999999;
}

.sidebar a {
  margin: 1rem 0;
  color: white;
  text-decoration: none;
}

.sidebar .close-btn {
  align-self: flex-end;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .sidebar.open {
    right: 0;
  }
  .sidebar.open .close-btn {
    display: block;
  }
}
