@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "DM Sans", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  /* Colors */
  --main-bg-color: #1A2F30;
  --black: #061617;
  --primary-color: #00b1bc;
  --secondary-color: #ffaf1a;
  --white: #f4feff;
  --background-color: #254446;
  --text-color: #faffff;
  --secondary-text: #adabc3;
  --border-color: rgba(250, 255, 255, 0.55);
  --error-color: #ff6b6b;
  --success-color: #6bcb77;
  --card-hover-color: rgba(0, 253, 255, 0.1);

  /* Font */
  --font-family: "Poppins", sans-serif;
  --font-10: 10px;
  --font-13: 13px;
  --font-16: 16px;
  --font-20: 20px;
  --font-25: 25px;
  --font-31: 31px;
  --font-39: 39px;
  --font-49: 49px;
  --font-61: 61px;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* Start Global Styles */
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 14px;
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--white);
  font-size: var(--font-16);
  font-weight: var(--font-weight-medium);
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  color: var(--white) !important;
}

.btn-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 18px;
  border-radius: 8px;
  color: var(--white);
  border: 1px solid var(--white);
  font-size: var(--font-16);
  font-weight: var(--font-weight-medium);
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.btn-outline:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color) !important;
}

h2 {
  font-size: var(--font-39);
  font-weight: var(--font-weight-bold);
  color: var(--white);
  text-align: center;
  margin-bottom: 20px;
  font-weight: var(--font-weight-bold);
}

/* End Global Styles */

/* Background Gradient */
.background-gradient {
  position: fixed;
  width: 2493px;
  height: 2493px;
  right: -2005px;
  bottom: -2091px;
  background: radial-gradient(
    ellipse 46.26% 46.26% at 96.37% 50.11%,
    rgba(56, 195, 204, 0.3) 0%,
    rgba(28, 97.5, 102, 0.3) 100%
  );
  box-shadow: 15px 15px 15px;
  border-radius: 9999px;
  filter: blur(7.5px);
  z-index: -1;
  transform: rotate(180deg);
}
a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--font-16);
  font-weight: var(--font-weight-medium);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
  /* display: inline-block; */
  scroll-behavior: smooth !important;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
