@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family);
  background: var(--main-bg-color);
  color: var(--white);
  font-size: var(--font-16);
  line-height: 1.5;
}

:root {
  /* Colors */
  --main-bg-color: #254446;
  --black: #061617;
  --primary-color: #38c3cc;
  --secondary-color: #ffaf1a;
  --white: #f4feff;

  /* Font */
  --font-family: "Poppins", sans-serif;
  --font-10: 10px;
  --font-13: 13px;
  --font-16: 16px;
  --font-20: 20px;
  --font-25: 25px;
  --font-31: 31px;
  --font-39: 39px;
  --font-49: 49px;
  --font-61: 61px;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
/* Start Global Styles */
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 14px;
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--white);
  font-size: var(--font-16);
  font-weight: var(--font-weight-medium);
  letter-spacing: 1px;
}
.btn-primary:hover {
  background-color: var(--secondary-color);
  color: var(--white) !important;
}

.btn-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 18px;
  border-radius: 8px;
  color: var(--white);
  border: 1px solid var(--white);
  font-size: var(--font-16);
  font-weight: var(--font-weight-medium);
  letter-spacing: 1px;
}
.btn-outline:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color) !important;
}
h2 {
  font-size: var(--font-39);
  font-weight: var(--font-weight-bold);
  color: var(--white);
  text-align: center;
  margin-bottom: 20px;
  font-weight: var(--font-weight-bold);
}

/* End Global Styles */
/* Start Section */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;
}

.hero-left {
  flex: 1;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-left h1 {
  font-size: var(--font-61);
  line-height: 100%;
}

.hero-left p {
  font-size: var(--font-16);
  color: var(--white);
  line-height: 136%;
}

.hero-left ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero-left li {
  font-size: var(--font-20);
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero-right {
  background: white;
  border-radius: 20px;
  padding: 2rem;
  color: black;
  max-width: 450px;
  width: 100%;
}

.hero-right input,
.hero-right select {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.4rem;
  font-weight: 600;
  font-size: 0.95rem;
}

.hero-right button {
  width: 100%;
  border: none;
  padding: 0.8rem;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }

  .hero-left,
  .hero-right {
    max-width: 100%;
  }

  .hero-right .form-row {
    flex-direction: column;
  }
}
/* End Section */
/* Start logo slider */
.logo_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 2rem;
  flex-direction: column;
  overflow: hidden;
}

/* .logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  background-color: red;
  display: inline-block;
  animation: 5s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} */
.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
.wrapper .logo_slider_item {
  transition: all 0.5s ease-in-out;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 6), 100%);
  animation-name: scrollLeft;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.wrapper .logo_slider_item:nth-child(1) {
  animation-delay: calc(35s / 6 * (6 - 1) * -1);
}
.wrapper .logo_slider_item:nth-child(2) {
  animation-delay: calc(35s / 6 * (6 - 2) * -1);
}
.wrapper .logo_slider_item:nth-child(3) {
  animation-delay: calc(35s / 6 * (6 - 3) * -1);
}
.wrapper .logo_slider_item:nth-child(4) {
  animation-delay: calc(35s / 6 * (6 - 4) * -1);
}
.wrapper .logo_slider_item:nth-child(5) {
  animation-delay: calc(35s / 6 * (6 - 5) * -1);
}
.wrapper .logo_slider_item:nth-child(6) {
  animation-delay: calc(35s / 6 * (6 - 6) * -1);
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}
/* End logo slider */
